.myApp{
    background-color: #243647;
    color: #fff;
}

.myProduct{
    background-color: #435163;
    padding-top: 20px;
    padding-bottom: 20px;
}
.myProduct a{
    color: #dc6016;
    text-decoration: none;
}
.myProduct a:hover{
    color: #a55c32;
}
.myProduct .btn{
    background-color: #dc6016;
}
.myProduct .price{
    color: #fff;
    margin-bottom: 14px;
}
.myProduct .myTitle{
    margin-top: 10px;
}
.myBasket ul li {
    margin-top: 20px;
}